# Database
DATABASE_URL=postgresql://neondb_owner:npg_RPemJUicx29E@ep-red-sun-a1vo88mv.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_AUTH_URL=https://ep-red-sun-a1vo88mv.neonauth.ap-southeast-1.aws.neon.tech/neondb/auth
NEON_AUTH_AUDIENCE=your-audience
NEON_AUTH_ISSUER=your-issuer

# Qubrid AI Integration
QUBRID_API_KEY=k_db9af6f8fa91.dFLxrXIeqdfP-7jAxhg42y6t1qPMVFGK-dQa3264hIaOGFT84BX39g
QUBRID_BASE_URL=https://platform.qubrid.com/api/v1/qubridai
